<h1 align="center"> Fundamentals of Computer Science - Andrea Leoni 844866 </h1!

### Libraries and Imports

In [4]:
import pandas as pd
import numpy as np
import datetime
pd.set_option('display.max_columns', 50)

dogs = pd.read_csv(r"C:\Users\leonind\OneDrive - Gewiss S.p.A\Documenti\WORK\FCS_Project_844866\adoptions\dogs.csv")
travels = pd.read_csv(r"C:\Users\leonind\OneDrive - Gewiss S.p.A\Documenti\WORK\FCS_Project_844866\adoptions\dogTravel.csv")
states = pd.read_csv(r"C:\Users\leonind\OneDrive - Gewiss S.p.A\Documenti\WORK\FCS_Project_844866\adoptions\NST-EST2021-POP.csv", names=['state', 'population'])

### 1. Extract all dogs with status that is not adoptable

In [2]:
dogs[dogs['status'] != "adoptable"]

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,color_secondary,color_tertiary,age,sex,size,coat,fixed,house_trained,declawed,special_needs,shots_current,env_children,env_dogs,env_cats,name,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,NaN,NaN,Young,Male,Large,NaN,False,False,NaN,False,False,NaN,NaN,NaN,"Gunther :Gunny\"",Meet handsome 3 year old Gunt...",2018-04-05T05:18:31+0000,Las Vegas,NV,89146,US,89009,2019-09-20,NaN,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,White / Cream,NaN,Adult,Female,Large,Short,True,True,NaN,False,True,NaN,NaN,False,"ANNABELLE \ANNIE\"",""You can fill out an adopti...",2017-05-26T21:43:16+0000,Chandler,AZ,85249,US,AZ,2019-09-20,NaN,Dog,You can fill out an adoption application onlin...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,NaN,False,False,NaN,NaN,NaN,Senior,Male,Medium,Short,True,True,NaN,False,True,True,True,True,"PEPPER \Courtesy listing\"",""This is Pepper. He...",2019-09-01T15:12:06+0000,Albany,NY,12220,US,CT,2019-09-20,NaN,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,NaN,False,False,NaN,NaN,NaN,Senior,Male,Medium,Short,True,True,NaN,False,True,NaN,NaN,False,"COOPER \courtesy listing\"",""Cooper is 13 years...",2019-08-06T12:15:58+0000,Albany,NY,12220,US,CT,2019-09-20,NaN,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,White / Cream,NaN,Senior,Female,Medium,Short,True,True,NaN,False,True,False,False,NaN,"DAISY \courtesy listing\"",""•Basset Hound, fema...",2019-07-18T14:20:58+0000,Albany,NY,12220,US,CT,2019-09-20,NaN,Dog,"â¢Basset Hound, female, â¢10 years \n\nDelig...",57,82.61
12600,45229004,NY1436,https://www.petfinder.com/dog/elmo-momo-452290...,Dog,Dog,American Bulldog,NaN,True,False,NaN,NaN,NaN,Senior,Male,Large,Short,True,True,NaN,False,True,True,True,NaN,"Elmo \MoMo\"",""Hello i&#039;m MoMo or Elmo , 7 ...",2019-07-11T20:34:42+0000,Saugerties,NY,12477,US,CT,2019-09-20,NaN,Dog,"Hello i'm MoMo or Elmo , 7 year old, mixed bre...",73,136.30
12613,45227052,NY1436,https://www.petfinder.com/dog/bianca-pinky-452...,Dog,Dog,Mixed Breed,NaN,False,False,White / Cream,NaN,NaN,Senior,Female,Medium,Short,True,True,NaN,False,True,True,True,NaN,"Bianca \Pinky\"",""Hello I&#039;m Bianca, a fema...",2019-07-11T14:16:38+0000,Saugerties,NY,12477,US,CT,2019-09-20,NaN,Dog,"Hello I'm Bianca, a female, 7 year old mixed b...",107,231.31
17619,45569380,CA1209,https://www.petfinder.com/dog/baby-girl-455693...,Dog,Dog,Maltese,NaN,False,False,White / Cream,NaN,NaN,Senior,Female,Small,Short,True,True,NaN,False,True,True,True,NaN,"\Baby Girl\"",""This 10-year young senior is ver...",2019-08-10T16:00:35+0000,Bristow,VA,20136,US,DC,2019-09-20,NaN,Dog,This 10-year young senior is very sweet and lo...,76,263.63
18611,44694387,MD295,https://www.petfinder.com/dog/king-bert-bertie...,Dog,Dog,Fox Terrier,Chihuahua,True,False,Bicolor,NaN,NaN,Young,Male,Small,Short,True,False,NaN,False,True,False,NaN,False,"King Bert \Bertie\"",""&quot;Bertie&quot; came t...",2019-05-14T21:09:27+0000,Silver Spring,MD,20905,US,DC,2019-09-20,NaN,Dog,"\""Bertie\"" came to us from the shelter. He wa...",61,158.84
19747,36978896,VA127,https://www.petfinder.com/dog/maddie-cutie-pat...,Dog,Dog,Alaskan Malamute,NaN,False,False,Bicolor,NaN,NaN,Adult,Female,Large,NaN,True,True,NaN,False,True,NaN,NaN,False,"Maddie \Cutie Patootie!\"",""Maddie is our littl...",2016-12-15T13:33:43+0000,Gettysburg,PA,17325,US,DC,2019-09-20,NaN,Dog,Maddie is our little Miss Cutie Patootie! She ...,119,431.66
19845,33218331,VA127,https://www.petfinder.com/dog/bucky-are-u-my-h...,Dog,Dog,Alaskan Malamute,Siberian Husky,True,False,Gray / Blue / Silver,NaN,NaN,Adult,Male,Large,Medium,True,True,NaN,False,True,NaN,NaN,False,"Bucky \Are u my hooman?\"",""Born in August 2014...",2015-09-07T12:57:27+0000,Gettysburg,PA,17325,US,DC,2019-09-20,NaN,Dog,"Born in August 2014, Bucky has a great sense o...",98,346.67
22161,42092005,PA738,https://www.petfinder.com/dog/chloe-little-ras...,Dog,Dog,Pit Bull Terrier,Pointer,True,False,Black,White / Cream,NaN,Adult,Female,Medium,Short,True,False,NaN,False,True,True,True,NaN,"CHLOE \LITTLE RASCAL\"",""Meet Chloe our &quot;L...",2018-07-05T00:55:08+0000,Media,PA,19063,US,DE,2019-09-20,NaN,Dog,"Meet Chloe our \""Little Rascal.\",113,279.59
22229,39594038,PA562,https://www.petfinder.com/dog/cozi-h-wilson-lo...,Dog,Dog,Pit Bull Terrier,NaN,True,False,NaN,NaN,NaN,Young,Female,Medium,Short,True,True,NaN,False,True,True,True,NaN,"COZI H WILSON \loves children, cuddlebug\"",""01...",2017-10-07T23:48:20+0000,Feasterville,PA,19053,US,DE,2019-09-20,NaN,Dog,01.04.19\nHi Folks! Iâm Cozi and Iâm so gl...,88,360.84
29283,45895274,IL688,https://www.petfinder.com/dog/gibson-edgar-gib...,Dog,Dog,Labrador Retriever,NaN,True,False,Brown / Chocolate,NaN,NaN,Young,Male,Large,Short,True,True,NaN,False,True,True,True,False,"Gibson Edgar \Gibbs\"",""Gibson Edgar is a 12 mo...",2019-09-07T04:09:12+0000,Paris,IL,61944,US,IL,2019-09-20,NaN,Dog,Gibson Edgar is a 12 month old male Lab mix th...,74,121.56
30471,45964719,IN694,https://www.petfinder.com/dog/puppies-berries-...,Dog,Dog,American Staffordshire Terrier,Border Collie,True,False,Black,White / Cream,NaN,Baby,Female,Medium,Short,False,False,NaN,False,True,True,True,NaN,"PUPPIES \Berries\"",""11 Berry Pups\nIndividual ...",2019-09-13T19:39:28+0000,Mooresville,IN,46158,US,IN,2019-09-20,NaN,Dog,11 Berry Pups\nIndividual pics will be done. ...,127,429.87
31581,44538917,OH907,https://www.petfinder.com/dog/leila-courtesy-p...,Dog,Dog,Australian Shepherd,Husky,True,False,"Tricolor (Brown, Black, & White)",NaN,NaN,Adult,Female,Medium,Short,True,True,NaN,False,True,NaN,NaN,NaN,"Leila \COURTESY POST\"",""THIS IS A COURTESY POS...",2019-04-25T01:56:52+0000,Ross,OH,45061,US,IN,2019-09-20,NaN,Dog,THIS IS A COURTESY POST (this means that any a...,92,188.49
31888,41430442,OH907,https://www.petfinder.com/dog/eden-in-training...,Dog,Dog,Hound,NaN,True,False,White / Cream,Yellow / Tan / Blond / Fawn,NaN,Adult,Female,Medium,Short,True,False,NaN,False,True,NaN,False,NaN,"Eden \In Training\"",""Eden is estimated 3 years...",2018-04-18T13:45:46+0000,Ross,OH,45061,US,IN,2019-09-20,NaN,Dog,Eden is estimated 3 years old and weighs 40 lb...,97,238.60
33000,45907639,IN714,https://www.petfinder.com/dog/coach-chris-mack...,Dog,Dog,Chihuahua,Beagle,True,False,Yellow / Tan / Blond / Fawn,NaN,NaN,Adult,Male,Small,Short,True,True,NaN,False,True,True,True,NaN,"Coach Chris \Mack\"",""Mack is a 2 year old, 13 ...",2019-09-08T18:21:21+0000,Jeffersonville,IN,47131,US,KY,2019-09-20,NaN,Dog,"Mack is a 2 year old, 13 pound furry chihuahua...",101,478.36
33527,45362806,OH852,https://www.petfinder.com/dog/liberty-libby-45...,Dog,Dog,Pomeranian,NaN,False,False,NaN,NaN,NaN,Adult,Female,Small,Long,True,False,NaN,False,True,False,True,True,"Liberty \Libby\"",""Liberty came to us on the 3r...",2019-07-25T19:53:21+0000,Cincinnati,OH,45249,US,KY,2019-09-20,NaN,Dog,Liberty came to us on the 3rd of July - she ha...,65,185.05
34188,32590894,IN595,https://www.petfinder.com/dog/samson-sam-32590...,Dog,Dog,Mastiff,Labrador Retriever,True,False,Black,NaN,NaN,Adult,Male,Extra Large,NaN,False,False,NaN,False,False,NaN,NaN,NaN,"Samson \Sam\"",""DUE TO PROBLEMS WITH THE CURREN...",2015-06-29T23:58:09+0000,Paoli,IN,47454,US,KY,2019-09-20,NaN,Dog,DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPD...,116,413.96
35065,31426754,LA256,https://www.petfinder.com/dog/sully-sullivan-3...,Dog,Dog,Pit Bull Terrier,NaN,False,False,Black,NaN,NaN,Young,Male,Medium,Short,True,True,NaN,False,True,NaN,NaN,NaN,"Sully \Sullivan\"",""Hi my name is Sully! I get ...",2015-02-07T13:06:43+0000,lake charles,LA,70601,US,LA,2019-09-20,NaN,Dog,Hi my name is Sully! I get along with most dog...,122,204.63
44830,46037827,NM133,https://www.petfinder.com/dog/periwinkle-wink-...,Dog,Dog,Australian Shepherd,Spaniel,True,False,Brown / Chocolate,White / Cream,NaN,Adult,Female,Medium,Medium,True,True,NaN,False,True,True,True,NaN,"PERIWINKLE \WINK\"",""We take the time to post p...",2019-09-20T01:50:51+0000,Albuquerque,NM,87108,US,NM,2019-09-20,NaN,Dog,We take the time to post pertinent information...,85,296.75
53168,44044071,TN669,https://www.petfinder.com/dog/raymond-reddingt...,Dog,Dog,American Staffordshire Terrier,NaN,True,False,Red / Chestnut / Orange,NaN,NaN,Adult,Male,Medium,Medium,True,False,NaN,False,False,True,NaN,False,"Raymond \Reddington\"",""Red is a 4-5 yr old St...",2019-02-18T12:02:48+0000,Cookeville,TN,38506,US,TN,2019-09-20,NaN,Dog,Red is a 4-5 yr old Staffey mix that is a wig...,88,230.12
53539,27521132,TN577,https://www.petfinder.com/dog/norma-rose-rosie...,Dog,Dog,Yellow Labrador Retriever,American Staffordshire Terrier,True,False,Yellow / Tan / Blond / Fawn,NaN,NaN,Adult,Female,Large,Short,True,True,NaN,False,True,True,False,False,"Norma Rose \ROSIE\"",""Robyn&#039;s Nest Animal ...",2013-10-10T13:57:39+0000,Nashville,TN,37189,US,TN,2019-09-20,NaN,Dog,Robyn's Nest Animal Rescue & SanctuaryNashvill...,93,300.50
55434,38473806,VA486,https://www.petfinder.com/dog/markey-moose-384...,Dog,Dog,Hound,NaN,False,False,White / Cream,Yellow / Tan / Blond / Fawn,NaN,Adult,Male,Large,Short,False,True,NaN,False,True,True,True,NaN,"Markey \Moose\"",""Markey &quot;Moose&quot; firs...",2017-06-16T18:44:33+0000,Rustburg,VA,24588,US,VA,2019-09-20,NaN,Dog,"Markey \""Moose\"" first came to us after being ...",78,71.15
55467,34101432,VA628,https://www.petfinder.com/dog/george-boy-georg...,Dog,Dog,Labrador Retriever,NaN,True,False,Yellow / Tan / Blond / Fawn,White / Cream,NaN,Young,Male,Medium,Short,True,False,NaN,False,True,NaN,NaN,NaN,"George \Boy George\"",""Contact dojennings@Comca...",2015-12-25T12:28:30+0000,Midlothian,VA,23112,US,VA,2019-09-20,NaN,Dog,Contact dojennings@Comcast.net or Debbie Jenni...,115,320.23
55915,45958435,WA581,https://www.petfinder.com/dog/skipper-45958435...,Dog,Dog,Yorkshire Terrier,Terrier,True,False,"Tricolor (Brown, Black, & White)",White / Cream,Yellow / Tan / Blond / Fawn,Young,Male,Small,Medium,True,False,NaN,False,True,NaN,True,True,"\Skipper\"",""For a quicker response please subm...",2019-09-13T06:08:17+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN,Dog,For a quicker response please submit a online ...,102,338.18
55975,45927580,WA581,https://www.petfinder.com/dog/bella-45927580/w...,Dog,Dog,Chihuahua,NaN,False,False,White / Cream,Yellow / Tan / Blond / Fawn,NaN,Adult,Female,Small,Short,True,True,NaN,True,True,False,True,NaN,"\Bella\"",""Meet &quot;Bella&quot; She is a ador...",2019-09-10T16:43:35+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Bella\"" She is a adorable and 7 pounds ...",102,407.51
56013,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,"Tricolor (Brown, Black, & White)",NaN,Adult,Male,Medium,Short,True,True,NaN,False,True,True,True,NaN,"\Cody\"",""*Please apply online at www.6dogrees....",2019-09-09T17:05:17+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN,Dog,*Please apply online at www.6dogrees.com to ge...,92,164.55
56248,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,Red / Chestnut / Orange,NaN,Adult,Female,Small,Medium,True,True,NaN,False,True,NaN,True,NaN,"\Gracie\"",""Meet &quot;Gracie&quot; a very beau...",2019-08-24T16:32:31+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Gracie\"" a very beautiful 11 pound,fema...",82,168.54
56464,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",White / Cream,NaN,Young,Male,Small,NaN,True,False,NaN,False,True,False,True,True,"\Jameson\"",""Meet &quot;Jameson&quot; He is a v...",2019-07-31T16:21:07+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Jameson\"" He is a very handsome 9 pound...",108,297.27
56473,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,Golden,NaN,Adult,Male,Small,Short,True,False,NaN,False,True,False,True,NaN,"\Canelo\"",""Meet Canelo a adorable small, tan...",2019-07-29T21:50:16+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet Canelo a adorable small, tan very sweet...",94,312.10
56541,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,White / Cream,NaN,Adult,Female,Small,NaN,True,True,NaN,False,True,False,True,False,"\Noni\"",""Meet &quot;Noni&quot; She is a Black ...",2019-07-15T16:57:05+0000,Seattle,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Noni\"" She is a Black and white smooth ...",77,290.16

### 2. For each (primary) breed, determine the number of dogs

In [3]:
pd.DataFrame(dogs['breed_primary'].value_counts())

                              breed_primary
Pit Bull Terrier                       7890
Labrador Retriever                     7198
Chihuahua                              3766
Mixed Breed                            3242
Terrier                                2641
...                                     ...
Wirehaired Pointing Griffon               1
Boykin Spaniel                            1
Old English Sheepdog                      1
Belgian Shepherd / Laekenois              1
Tosa Inu                                  1

[216 rows x 1 columns]

### 3. For each (primary) breed, determine the ratio between the number of dogs of Mixed Breed and those not of Mixed Breed. Hint: look at the secondary_breed

In [4]:
# Groups the dogs by primary breed
primaryBreedGroup = dogs.groupby(['breed_primary'])

# Computes the percentage ratio of mexid breed per primary breed
mixedDogsRatioTable = pd.DataFrame(primaryBreedGroup['breed_mixed'].value_counts(normalize=True))
mixedDogsRatioTable.columns = ['ratio']
mixedDogsRatioTable

                                                  ratio
breed_primary                     breed_mixed
Affenpinscher                     False        0.705882
                                  True         0.294118
Afghan Hound                      True         1.000000
Airedale Terrier                  True         0.894737
                                  False        0.105263
...                                                 ...
Xoloitzcuintli / Mexican Hairless True         0.454545
Yellow Labrador Retriever         True         0.772152
                                  False        0.227848
Yorkshire Terrier                 True         0.563889
                                  False        0.436111

[394 rows x 1 columns]

### 4. For each (primary) breed, determine the earliest and the latest posted timestamp

In [5]:
# Finds the last and min 'posted' for every primary breed
maxPosted = pd.Series(primaryBreedGroup['posted'].last())
minPosted = pd.Series(primaryBreedGroup['posted'].min())

# Unites the two series in one dataframe
postedTimestampTable = pd.concat([minPosted, maxPosted], axis=1)
postedTimestampTable.columns = ['earliest posted', 'latest posted']
postedTimestampTable

,earliest posted,latest posted
breed_primary,,
Affenpinscher,2012-03-08T10:27:33+0000,2019-09-11T10:02:07+0000
Afghan Hound,2017-06-29T23:28:51+0000,2017-10-24T01:47:44+0000
Airedale Terrier,2014-06-13T12:59:36+0000,2019-09-08T14:16:36+0000
Akbash,2019-07-21T00:35:59+0000,2019-07-21T00:35:59+0000
Akita,2012-03-03T09:31:08+0000,2019-06-25T17:25:06+0000
...,...,...
Wirehaired Pointing Griffon,2016-06-29T20:03:55+0000,2016-06-29T20:03:55+0000
Wirehaired Terrier,2012-11-27T14:07:54+0000,2019-06-15T19:20:08+0000
Xoloitzcuintli / Mexican Hairless,2007-02-01T00:00:00+0000,2007-02-01T00:00:00+0000
Yellow Labrador Retriever,2010-05-31T00:00:00+0000,2014-03-03T10:19:48+0000
Yorkshire Terrier,2012-02-04T17:14:52+0000,2019-09-12T00:17:55+0000

### 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

In [6]:
# Conts the number of female and male for every state
stateSexGroup = dogs.groupby(['contact_state'])
sexDogsState = pd.DataFrame(stateSexGroup['sex'].value_counts())
sexDogsState.columns = ['count']

# Pivots the table to have 'female' and 'male' as headers
sexDogsState = pd.pivot_table(sexDogsState, values='count', index=['contact_state'], columns=['sex'])

# Computs the difference between male and female into the 'Result' column
sexDogsState['Result'] = abs(sexDogsState['Male'] - sexDogsState['Female'])

# Shots where the difference is the highest
pd.DataFrame(sexDogsState.loc[sexDogsState['Result'].idxmax()]).columns

Index(['OH'], dtype='object')

### 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

In [7]:
# Calculates the average stay duration and cost for every dog 'age' and 'size' combination
ageSizeGroup = dogs.groupby(['age', 'size'])
meanStay = ageSizeGroup['stay_duration'].mean()
meanCost = ageSizeGroup['stay_cost'].mean()

# Combines the results in one dataframe
pd.concat([meanStay, meanCost], axis=1)

                    stay_duration   stay_cost
age    size
Adult  Extra Large      89.015414  232.591561
       Large            89.531943  238.661141
       Medium           89.421036  238.258977
       Small            89.407479  238.974838
Baby   Extra Large      87.032967  237.180879
       Large            89.701564  238.698827
       Medium           89.577668  237.108131
       Small            89.958291  239.083810
Senior Extra Large      88.861111  235.232361
       Large            88.984298  237.507364
       Medium           89.810052  238.514615
       Small            89.073626  238.282286
Young  Extra Large      90.586345  245.835582
       Large            90.104206  238.149506
       Medium           89.515123  239.304603
       Small            89.814275  241.540069

### 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

In [8]:
# Merges the dataframes 'dogs' and 'travels'
mergedDogsTravels = pd.merge(dogs, travels, on='id')

# Counts the travels for eache dog
countDogsTravels = pd.DataFrame(mergedDogsTravels['id'].value_counts())

# Keeps the merged dataframe of 'dogs' and 'travels' with only the rows of dogs with >= 3 travels
countDogsTravels = countDogsTravels.loc[countDogsTravels['id'] >= 3]
dogsWith3Travels = mergedDogsTravels.loc[mergedDogsTravels['id'].isin(countDogsTravels.index)]

# Extracts the 'id' and 'breed_primary' from the last result and then counts again the number of travels per dog
dogsWith3Travels = dogsWith3Travels[['id', 'breed_primary']]
dogsWith3Travels = pd.DataFrame(dogsWith3Travels.groupby(['id', 'breed_primary']).value_counts())
dogsWith3Travels.columns = ['number of travels']
dogsWith3Travels

                             number of travels
id       breed_primary
16657005 Pit Bull Terrier                    4
20905974 Chow Chow                           5
24894870 Hound                               4
24894894 Hound                               4
33218331 Alaskan Malamute                    7
...                                        ...
46042569 Labrador Retriever                  3
46042587 Labrador Retriever                  3
46042618 Labrador Retriever                  3
46043099 Labrador Retriever                  3
46043149 Labrador Retriever                  3

[563 rows x 1 columns]

### 8. Fix the travels table so that the correct state is computed from the manual and the found fields. If manual is not missing, then it overrides what is stored in found.

In [9]:
# Changes the 'found' column value to the value of the column 'manual' if the column 'manual' is not null
travels['found'] = np.where(travels['manual'].isnull() == False, travels['manual'], travels['found'])
travels

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Bahamas,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Maryland,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Ohio,Ohio,NaN,NaN
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN

### 9. For each state, compute the ratio between the number of travels and the population.

In [10]:
# Left joins the table states and travels
mergedTravelsStates = pd.merge(states, travels, left_on='state', right_on='found', how = "left")

# Counts the number of travels per state
mergedTravelsStates['counting'] = np.where(mergedTravelsStates['found'].isnull() == False, 1, 0)
countTravelsStates = pd.DataFrame(mergedTravelsStates.groupby(['state', 'population'], as_index = False)['counting'].sum())

# Removes the dots from the population number in order to convert the object to a numeric value
countTravelsStates['population'] = [x.replace('.', '') for x in countTravelsStates['population']]
countTravelsStates['population'] = countTravelsStates['population'].astype(int)

# Computes the ratio between 'population' and 'counting'
countTravelsStates['ratio'] = np.where(countTravelsStates['counting'] != 0, countTravelsStates['counting'] / countTravelsStates['population'], 0)
countTravelsStates

                   state  population  counting         ratio
0                Alabama     5024279       338  6.727333e-05
1                 Alaska      733391         0  0.000000e+00
2                Arizona     7151502        33  4.614415e-06
3               Arkansas     3011524        61  2.025553e-05
4             California    39538223       279  7.056463e-06
5               Colorado     5773714        11  1.905186e-06
6            Connecticut     3605944        16  4.437118e-06
7               Delaware      989948        27  2.727416e-05
8   District of Columbia      689545         0  0.000000e+00
9                Florida    21538187       163  7.567954e-06
10               Georgia    10711908       235  2.193820e-05
11                Hawaii     1455271         4  2.748629e-06
12                 Idaho     1839106         4  2.174970e-06
13              Illinois    12812508        33  2.575608e-06
14               Indiana     6785528        17  2.505332e-06
15                  Iowa     3190369         7  2.194104e-06
16                Kansas     2937880         3  1.021144e-06
17              Kentucky     4505836        99  2.197151e-05
18             Louisiana     4657757        69  1.481400e-05
19                 Maine     1362359        13  9.542272e-06
20              Maryland     6177224       140  2.266390e-05
21         Massachusetts     7029917        13  1.849239e-06
22              Michigan    10077331        29  2.877746e-06
23             Minnesota     5706494        80  1.401912e-05
24           Mississippi     2961279        62  2.093690e-05
25              Missouri     6154913        17  2.762021e-06
26               Montana     1084225         0  0.000000e+00
27              Nebraska     1961504         4  2.039252e-06
28                Nevada     3104614         3  9.663037e-07
29         New Hampshire     1377529         2  1.451875e-06
30            New Jersey     9288994        44  4.736789e-06
31            New Mexico     2117522        84  3.966901e-05
32              New York    20201249        63  3.118619e-06
33        North Carolina    10439388       292  2.797099e-05
34          North Dakota      779094         2  2.567084e-06
35                  Ohio    11799448        72  6.101980e-06
36              Oklahoma     3959353        32  8.082129e-06
37                Oregon     4237256         2  4.720036e-07
38          Pennsylvania    13002700        50  3.845355e-06
39          Rhode Island     1097379         4  3.645049e-06
40        South Carolina     5118425       221  4.317734e-05
41          South Dakota      886667         2  2.255638e-06
42             Tennessee     6910840       144  2.083683e-05
43                 Texas    29145505       959  3.290387e-05
44                  Utah     3271616        10  3.056593e-06
45               Vermont      643077         1  1.555024e-06
46              Virginia     8631393       306  3.545198e-05
47            Washington     7705281        11  1.427592e-06
48         West Virginia     1793716       117  6.522772e-05
49             Wisconsin     5893718         7  1.187705e-06
50               Wyoming      576851         1  1.733550e-06

### 10. For each dog, compute the number of days from the posted day to the day of last access.

In [55]:
# Transforms accessed to datetime
dogs["accessed"] = pd.to_datetime(dogs["accessed"], utc=True)

# Splits posted and then stores the detetime of the day into postedNew
dateSplitted = dogs["posted"].str.split("T", n = 1, expand = True)
dogs["postedNew"] = dateSplitted[0]
dogs["postedNew"] = dogs["postedNew"].astype(str)
dogs["postedNew"] = pd.to_datetime(dogs["postedNew"], errors ='coerce',  utc=True)

# Computs the number of days between posted and accessed
dogs['numberOfDays'] = (dogs["accessed"] - dogs['postedNew']).dt.days
dogs[['id', 'accessed', 'postedNew', 'numberOfDays']]

,id,accessed,postedNew,numberOfDays
0,46042150,2019-09-20 00:00:00+00:00,2019-09-20 00:00:00+00:00,0.0
1,46042002,2019-09-20 00:00:00+00:00,2019-09-20 00:00:00+00:00,0.0
2,46040898,2019-09-20 00:00:00+00:00,2019-09-20 00:00:00+00:00,0.0
3,46039877,2019-09-20 00:00:00+00:00,2019-09-20 00:00:00+00:00,0.0
4,46039306,2019-09-20 00:00:00+00:00,2019-09-20 00:00:00+00:00,0.0
...,...,...,...,...
58175,44605893,2019-09-20 00:00:00+00:00,2019-05-03 00:00:00+00:00,140.0
58176,44457061,2019-09-20 00:00:00+00:00,2019-04-13 00:00:00+00:00,160.0
58177,42865848,2019-09-20 00:00:00+00:00,2018-09-27 00:00:00+00:00,358.0
58178,42734734,2019-09-20 00:00:00+00:00,2018-09-12 00:00:00+00:00,373.0
58179,42663515,2019-09-20 00:00:00+00:00,2018-09-03 00:00:00+00:00,382.0

### 11. Partition the dogs according to the number of weeks from the posted day to the day of last access.

In [54]:
# Creates a new column with the number of weeks
dogs['numberOfWeeks'] = (dogs['numberOfDays'] / 7).round()

# Groups by in order to create groups based on the number of weeks
weekGroup = dogs.groupby(['numberOfWeeks', 'postedNew', 'accessed'])
pd.DataFrame(weekGroup['id'].value_counts())

                                                                            id
numberOfWeeks postedNew                 accessed                  id
0.0           2019-09-17 00:00:00+00:00 2019-09-20 00:00:00+00:00 45979879   1
                                                                  45985124   1
                                                                  45985135   1
                                                                  45985140   1
                                                                  45990290   1
...                                                                         ..
730.0         2005-09-26 00:00:00+00:00 2019-09-20 00:00:00+00:00 5142790    1
747.0         2005-05-30 00:00:00+00:00 2019-09-20 00:00:00+00:00 4527948    1
812.0         2004-02-29 00:00:00+00:00 2019-09-20 00:00:00+00:00 2613506    1
813.0         2004-02-23 00:00:00+00:00 2019-09-20 00:00:00+00:00 2592031    1
853.0         2003-05-18 00:00:00+00:00 2019-09-20 00:00:00+00:00 604115     1

[58147 rows x 1 columns]

### 12. Find for duplicates in the dogs dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.

In [ ]:
# Keeps all dogs with same breeds and sex
duplicatesDogs = dogs[['breed_primary', 'breed_secondary', 'breed_mixed', 'sex']].duplicated(keep=False)
duplicatesDogs = dogs[duplicatesDogs]
duplicatesDogs = duplicatesDogs[duplicatesDogs['description'].isnull() == False] # Excludes NaN values

# Method that returns true is the two strings share at leat 90% of the words
def similarWordsRario(s0, s1):
    s0 = s0.lower()
    s1 = s1.lower()
    s0List = s0.split(" ")
    s1List = s1.split(" ")
    similarCount = len(list(set(s0List)&set(s1List)))
    if len(s0.split()) > len(s1.split()):
        ratio = similarCount / len(s0.split())
    ratio = similarCount / len(s1.split())
    if ratio >= 0.9:
        return True
    return False

# Adds the descriptions with at least 90& similar words to an other to the 'rowsToKeep' variable
rowsToKeep = []
for indexX in duplicatesDogs.index:
    for indexY in duplicatesDogs.index:
        if indexX != indexY:
            if similarWordsRario(duplicatesDogs['description'][indexX], duplicatesDogs['description'][indexY]):
                if duplicatesDogs['description'][indexX] not in rowsToKeep:
                    rowsToKeep.append(duplicatesDogs['description'][indexX])
                if duplicatesDogs['description'][indexY] not in rowsToKeep:
                    rowsToKeep.append(duplicatesDogs['description'][indexY])

# Prints the dogs matching the request
duplicatesDogs[duplicatesDogs['description'].isin(rowsToKeep)]